*.DS_Store
results_sample_data/*
*__pycache__*
*.egg-info
build/
DMSO_D0_sample_output/
pyEpiAneufinder/test.py
.vscode/
SNU601_output/
COLO320_output/
DMSO_D0/
REV_D0/
SNU601_test/
MCF10A_holmes_k2_a0.001_nperm1000/
SNU601_holmes_k2_a0.001_nperm1000/
test.ipynb
plots.ipynb
dataset1_GM_plots/
