*.DS_Store
results_sample_data/*
*__pycache__*
*.egg-info
build/
DMSO_D0_sample_output/
pyEpiAneufinder/test.py
.vscode/
SNU601_output/
COLO320_output/
DMSO_D0/
sim_dataset1/
sim_dataset2/
sim_dataset3/
sim_dataset4/
sim_dataset5/
sim_dataset1_old/
sim_dataset2_old/
sim_dataset3_old/
sim_dataset4_old/
sim_dataset5_old/
REV_D0/
SNU601_playground/
SNU601_test/
sim_dataset1_globalP/
sim_dataset1_test/
sim_dataset1_test_intApprox/
sim_dataset2_globalP/
sim_dataset2_test/
sim_dataset2_test_intApprox/
sim_dataset3_test/
sim_dataset3_test_intApprox/
sim_dataset4_test/
sim_dataset4_test_intApprox/
dataset1_test/
test.ipynb
plots.ipynb
dataset1_GM_plots/
